<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
            white-space: pre-line;
        }
        body{
            text-align: center;
            margin:2em;
        }
        h1{
            border:0.01em solid black ;
            padding:1em;
            transition: 0.5s;;
        }
        h1:hover{
            border:0.01em solid ;
            padding:1em;
            color:white;
            background-color: black;
            border:0.01em solid white;
            transition: 0.5s;;
        }
        form{
            display: flex;
            flex-direction:column;
            margin:2em;

            padding:1em;
        }
        input{
            padding:1em;
            margin:2em;

        }
        button{
            padding: 1em;
            background-color: rgb(83, 125, 189,1);
            border:none;
            border-radius: 0.2em;
            transition: 0.5s;;
        }
        button:hover{
            padding: 1em;
            background-color: rgb(83, 125, 189,0.8);
            border:none;
            border-radius: 0.2em;
            transition: 0.5s;;
        }
        a{
            margin-top:2em;
            text-decoration: none;
            color:black;
        }
        #message{
            background-color:rgb(230, 105, 105);
            padding:0.1em;
            margin:0.2em;
            border:0.02em black solid;
            border-radius:0.3em;
            
        }
    </style>
    <a href="home"><h1>Sign Up Page</h1></a>
    <form action="/register" method="post" id="rform">
        <label for="un">Username</label>
        <input value="" name ="username" type="text" placeholder="John Doe" required>
        <label for="email">Age</label>
        <input value="" name ="age" type="number" placeholder="35" required>
        <label for="email">Email</label>
        <input name ="email" type="email" value="" placeholder="Email" required>
        <label for="password">Password</label>
        <input name ="password"  type="password" placeholder="********* (At Least 6 caracters)" value="" required>
      <!--  <label for="image">Personal Image</label>
        <input name ="picture" id="image"  type="file" value="">-->
        <label for="confirm">Confirm Password</label>
        <input name ="confirm"  type="password" placeholder="*********" required value="">
        <button type="submit" id="sign">Sign Up</button>
    </form>
    <% if(message.msg){%>
    <div id="message">
    <p><%=message.msg%></p>

    </div>
    <%}%>
        <a href="login">Login</a>
        <script src="/javascript/SignDOM.js" type="text/javascript"></script>

</body>
</html>