<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    #cont{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        text-align: start;
        background-color: rgba(34, 34, 181, 0.884);
        width: 15%;
        color:white;
        padding: 0.2em;
        margin-top: 1em;
        font-weight: bold;
        font-size: 1.8em;
        height: 2em;
        z-index: 3;
    }
    h2{
        position: absolute;
        padding: 0;
        margin: 0;
        font-size: 2em;
        top:-12px;
        left:0.7em;
        padding: 0.6em;
        border: 0.08em solid rgb(255, 255, 255);
        border-radius: 0em;
        animation: animback ;
        animation-duration: 2s;
        transition: all 0.7s ease-in;
        z-index: 5;
    }
    .special{
        width: 2.1em !important;

    }
    #cont:hover h2{
        animation: anim  ;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        transition: all 0.7s ease-in;
    }

    #split{
        margin-left: 1.95em;
    }
    #sv{
        opacity: 0;
        animation: taoback;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
    #sx{
        opacity: 0;
        animation: taoback;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    }
    #fr{
        opacity: 0;
        animation: taoback;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    #t{
        opacity: 0;
        animation: taoback;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }
    #s{
        opacity: 0;
        animation: taoback;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    #f{
        opacity: 0;
        animation: taoback;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
    #cont:hover #sv{
        animation: tao;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
    }
    #cont:hover #sx{
        animation: tao;
        animation-duration: 1.9s;
        animation-fill-mode: forwards;
    }
    #cont:hover #fr{
        animation: tao;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    #cont:hover #t{
        animation: tao;
        animation-duration: 2.1s;
        animation-fill-mode: forwards;
    }
    #cont:hover #s{
        animation: tao;
        animation-duration: 2.2s;
        animation-fill-mode: forwards;
    }
    #cont:hover #f{
        animation: tao;
        animation-duration: 2.3s;
        animation-fill-mode: forwards;
    }
    @keyframes tao{
        0%{
        opacity: 0;

        }
        50%{
        opacity: 0;

        }
        80%{
        opacity: 0;

        }
        100%{
            
        opacity: 1;
            
        }
    }
    
    @keyframes taoback{
        100%{
        opacity: 0;

        }
        80%{
        opacity: 0;

        }
        50%{
        opacity: 0;

        }
        0%{
            
        opacity: 1;
            
        }
    }
    
    @keyframes anim{
        0%{
        transform: scaleX(100%) scaleY(100%) translateX(0%);

        }
        30%{
        transform: scaleX(50%) scaleY(50%) translateX(100%);
        border: 0.08em solid rgba(255, 255, 255, 0.667);
        border-radius: 2em;
            
        }
        60%{
            
        transform: scaleX(50%) scaleY(50%) translateX(200%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0.389);
        border-radius: 2em;

        }
        100%{
        transform: scaleX(50%) scaleY(50%) translateX(-90%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0);
        border-radius: 2em;

        }
    }

    
    @keyframes animback{
        100%{
        transform: scaleX(100%) scaleY(100%) translateX(0%);

        }
        60%{
        transform: scaleX(50%) scaleY(50%) translateX(100%);
        border: 0.08em solid rgba(255, 255, 255, 0.667);
        border-radius: 2em;
            
        }
        30%{
            
        transform: scaleX(40%) scaleY(40%) translateX(200%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0.389);
        border-radius: 2em;

        }
        0%{
        transform: scaleX(40%) scaleY(40%) translateX(-90%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0);
        border-radius: 2em;

        }
    }
    .second h2{
        top:1.8em;
        

    }
    .second{
        margin-top: 2em !important;
        background-color: rgb(7, 207, 147) !important;
    }
    .secondsplit{
        margin-left: 2.5em !important;

    }
    .secondh{
        
        animation: animsecondback !important;
        animation-duration: 2s !important;
        transition: all 0.7s ease-in !important;
    }
    .second:hover .secondh{
        animation: animsecond  !important;
        animation-duration: 2s !important;
        animation-fill-mode: forwards !important;
        transition: all 0.7s ease-in !important;
    }

    
    @keyframes animsecond{
        0%{
        transform: scaleX(100%) scaleY(100%) translateX(0%);

        }
        30%{
        transform: scaleX(50%) scaleY(50%) translateX(100%);
        border: 0.08em solid rgba(255, 255, 255, 0.667);
        border-radius: 2em;
            
        }
        60%{
            
        transform: scaleX(50%) scaleY(50%) translateX(200%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0.389);
        border-radius: 2em;

        }
        100%{
        transform: scaleX(50%) scaleY(50%) translateX(-70%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0);
        border-radius: 2em;

        }
    }

    
    @keyframes animsecondback{
        100%{
        transform: scaleX(100%) scaleY(100%) translateX(0%);

        }
        60%{
        transform: scaleX(50%) scaleY(50%) translateX(100%);
        border: 0.08em solid rgba(255, 255, 255, 0.667);
        border-radius: 2em;
            
        }
        30%{
            
        transform: scaleX(40%) scaleY(40%) translateX(200%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0.389);
        border-radius: 2em;

        }
        0%{
        transform: scaleX(40%) scaleY(40%) translateX(-70%) translateY(-2%);
        border: 0.08em solid rgba(255, 255, 255, 0);
        border-radius: 2em;

        }
    }
</style>
<body>

    <div id="cont"><h2 class="special">P</h2>
        <div id="split">
        <span id="f">r</span>
        <span id="s">o</span>
        <span id="t">f</span>
        <span id="fr">i</span>
        <span id="sx">l</span>
        <span id="sv">e</span>
    </div>
    </div>

    <div id="cont" class="second"><h2 class="secondh">H</h2>
        <div id="split" class="secondsplit">
        <span id="f">o</span>
        <span id="s">m</span>
        <span id="t">e</span>
    </div>
    </div>




    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        
    </script>
    
</body>
</html>