<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    #container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border:0.08em solid black;
        margin: 2em;
        padding: 1em;
        border-radius: 1em;
    }
    h1{
        border:0.08em solid black;
        border-radius: 1em;
        padding: 1em;

    }
    video{
        border-radius: 1em;
        margin: 0.5em;

    }
    #dec{
        display: inline-block;
        align-items: start;
        text-align: start;
        font-size: 1.5em;
        font-weight: bold;
        border-top: 0.08em solid black;
        padding-top:0.5em;
    }
    #dec span{border-radius:1em ;
    
    }
   
    #dec :nth-child(1){
    background-color: rgba(255, 0, 0, 0.418);

   }
    #dec :nth-child(2){
    background-color: rgba(0, 128, 0, 0.538);

   }
    #dec :nth-child(3){
    background-color: rgba(0, 0, 255, 0.538)

   }
    #dec :nth-child(4){
    background-color: rgba(255, 166, 0, 0.659);

   }
    

</style>
<body>
    <h1>Welcome to autoplay App</h1>
    <div id="container">
    <video controls id="vod" >
        <source src="y2mate.com - Horror Short Film The Dinner After  ALTER_720p.mp4" type="video/mp4">  by ZAK mix.mp3">link to the video</a> instead.
    
    </video>
    <div id="dec">
    <span >o</span>
    <span >o</span>
    <span >o</span>
    <span id="name">o</span></div>
    </div>
    <h1><%=user%></h1>
    <script src="/socket.io/socket.io.js"></script>
   
    <script>
     let socket=io();
        let video=document.getElementById('vod');
      
        video.addEventListener('play',(e)=>{
            console.log("played");
            e.preventDefault();
            socket.emit('play',video.currentTime);
        })
        video.addEventListener('pause',(e)=>{
            console.log("paused");
            e.preventDefault();
            socket.emit('pause',video.currentTime);
        })
        socket.on('played',(data)=>{
video.currentTime=data;
            video.play()
             
            console.log("to me");
        })
        socket.on('paused',(data)=>{
            video.pause();
            console.log("to me");
        })
    </script>
</body>
</html>